<%= form_for @invoice, url: invoice_path(@invoice), method: :put, html: {multipart: true} do |f| %>
  <p>
    <label>Invoice</label>

    <%= f.file_field :invoice %>
    <%= f.hidden_field :user_id, value: @user.id %>
    <%= f.submit('Send file') %>
  </p>
<% end %>