<div class='highlight-content highlighted-image-hosting text-center cta-box light'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-8'>
        <h1 class='animated fadeInDown'>Our infrastructure</h1>
        <p class='animated fadeInUp'>We host powerful web applications from 1998. We know how to do it.</p>
        <%= link_to 'Contact us', contact_us_statics_path, class: 'btn btn-clean-light btn-lg animated wobble' %>
      </div>
    </div>
  </div>
</div>
<!--
<div class='separator-shadow-top above-screenshot-shadow'>
  <%# image_tag 'shadow-separator-wide-top.png' %>
</div>
-->
</div>
<div class='area-content'>
  <div class='container'>
    <h2 class='header-lined has-sub-header text-center'>Our hosting vision:</h2>
    <h4 class='sub-lined-header text-center'>The best hosting is the one which perfectly fits on your needs, not the one that give you a lot of options that you don't use.</h4>
    <div class='iconed-features style-2'>
      <div class='row'>
        <div class='col-md-4'>
          <div class='iconed-feature'>
            <div class='row'>
              <div class='col-md-4'>
                <div class='feature-icon-w animated rollIn'>
                  <i class='icon-exchange'></i>
                </div>
              </div>
              <div class='col-md-8'>
                <h4>Distribute</h4>
                <p>Every server is replicated in three different regions in the world. Our Anycast GeoDNS connects the visitor to the nearest server to improve the speed.</p>
              </div>
            </div>
          </div>
        </div>
        <div class='col-md-4'>
          <div class='iconed-feature'>
            <div class='row'>
              <div class='col-md-4'>
                <div class='feature-icon-w animated rollIn'>
                  <i class='icon-glass'></i>
                </div>
              </div>
              <div class='col-md-8'>
                <h4>Light is better</h4>
                <p>No general configurations. No fancy administration interfaces. Less unused options, gives you more speed and more security.</p>
              </div>
            </div>
          </div>
        </div>
        <div class='col-md-4'>
          <div class='iconed-feature'>
            <div class='row'>
              <div class='col-md-4'>
                <div class='feature-icon-w animated rollIn'>
                  <i class='icon-lock'></i>
                </div>
              </div>
              <div class='col-md-8'>
                <h4>Strong Infrastructure</h4>
                <p>High speed interconnection: 40 Gbit Network in, 500 Mbit Out. All servers are equipped with SSD Hard Disks and fast 12x Intel CPUs.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='iconed-features style-2'>
      <div class='row'>
        <div class='col-md-4'>
          <div class='iconed-feature'>
            <div class='row'>
              <div class='col-md-4'>
                <div class='feature-icon-w animated rollIn'>
                  <i class='icon-heart'></i>
                </div>
              </div>
              <div class='col-md-8'>
                <h4>PHP Hosting</h4>
                <p>No pre-configured LAMP: we choose Nginx and MariaDB. The PHP can be run via PHP-FPM or HipHop VM. Every website runs as a different user for maximum security.</p>
              </div>
            </div>
          </div>
        </div>
        <div class='col-md-4'>
          <div class='iconed-feature'>
            <div class='row'>
              <div class='col-md-4'>
                <div class='feature-icon-w animated rollIn'>
                  <i class='icon-heart-empty'></i>
                </div>
              </div>
              <div class='col-md-8'>
                <h4>RoR Hosting</h4>
                <p>Behind Nginx webserver, you can choose your preferred Ruby version via RVM and all the gems you like. SSH Access, persistent storage via PostgreSQL or MongoDB and fast Redis RAM Database.</p>
              </div>
            </div>
          </div>
        </div>
        <div class='col-md-4'>
          <div class='iconed-feature'>
            <div class='row'>
              <div class='col-md-4'>
                <div class='feature-icon-w animated rollIn'>
                  <i class='icon-heart'></i>
                </div>
              </div>
              <div class='col-md-8'>
                <h4>Node.js Hosting</h4>
                <p>So you want to go extra-fast! Behind Nginx webserver, you can choose your preferred Ruby version via NVM using an SSH access. Persistent storage via PostgreSQL or MongoDB and fast Redis RAM Database.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>