<div class='highlight-content highlighted-image text-center cta-box light support'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-8'>
        <h1 class='animated fadeInDown'>Support, not only for DNS</h1>
        <p class='animated fadeInUp'>We can help your business in every aspect of your online presence. Contact us to be in touch!</p>
        <%= link_to 'Contact us', contact_us_statics_path, class: 'btn btn-clean-light btn-lg animated wobble' %>
      </div>
    </div>
  </div>
</div>
<div class='container'>
  <h2 class='header-lined has-sub-header text-center'>Services We Offer</h2>
  <h4 class='sub-lined-header text-center'>Not only DNS, but a complete support for your online presence.</h4>
  <div class='iconed-features style-2'>
    <div class='row'>
      <div class='col-md-4'>
        <div class='iconed-feature'>
          <div class='row'>
            <div class='col-md-4'>
              <div class='feature-icon-w animated rollIn'>
                <i class='icon-comments'></i>
              </div>
            </div>
            <div class='col-md-8'>
              <h4>Planning</h4>
              <p>Every good project starts with a good planning: tell us your needs and we plan it using the most recent technologies.</p>
            </div>
          </div>
        </div>
      </div>
      <div class='col-md-4'>
        <div class='iconed-feature'>
          <div class='row'>
            <div class='col-md-4'>
              <div class='feature-icon-w animated rollIn'>
                <i class='icon-exchange'></i>
              </div>
            </div>
            <div class='col-md-8'>
              <h4>System setup</h4>
              <p>No matter if you want to relay on server inside your company or in a cloud on the other part of the world: we can help you to setup and configure them.</p>
            </div>
          </div>
        </div>
      </div>
      <div class='col-md-4'>
        <div class='iconed-feature'>
          <div class='row'>
            <div class='col-md-4'>
              <div class='feature-icon-w animated rollIn'>
                <i class='icon-archive'></i>
              </div>
            </div>
            <div class='col-md-8'>
              <h4>System maintenance</h4>
              <p>No matter what distro you like, we are veteran linux adminisitrator and we are here to help you in day-to-day maintenance.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='iconed-features style-2'>
    <div class='row'>
      <div class='col-md-4'>
        <div class='iconed-feature'>
          <div class='row'>
            <div class='col-md-4'>
              <div class='feature-icon-w animated rollIn'>
                <i class='icon-desktop'></i>
              </div>
            </div>
            <div class='col-md-8'>
              <h4>Backend developing</h4>
              <p>Do you need a web application? We can develop it in many languages: Ruby, Python, Node.js and Scala. Choose what you prefere!</p>
            </div>
          </div>
        </div>
      </div>
      <div class='col-md-4'>
        <div class='iconed-feature'>
          <div class='row'>
            <div class='col-md-4'>
              <div class='feature-icon-w animated rollIn'>
                <i class='icon-eye-open'></i>
              </div>
            </div>
            <div class='col-md-8'>
              <h4>Frontend developing</h4>
              <p>We are skilled in Angular.js, a powerful language for web frontend. We will team with your SEO and graphic guys to develop beautiful web application.</p>
            </div>
          </div>
        </div>
      </div>
      <div class='col-md-4'>
        <div class='iconed-feature'>
          <div class='row'>
            <div class='col-md-4'>
              <div class='feature-icon-w animated rollIn'>
                <i class='icon-font'></i>
              </div>
            </div>
            <div class='col-md-8'>
              <h4>Going mobile</h4>
              <p>Our programmer are here also if you need mobile development: native Android and iOS application which interacts with your backend.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>