<div class='container'>
  <h2 class='header-lined has-sub-header text-center' id='anchorTeam'>Meet the "Dream Team"</h2>
  <h4 class='sub-lined-header text-center'>We are a small team who help brands with big ideas.</h4>
  <div class='row bottom-margin'>
    <div class='col-md-4'>
      <div class='team-member animated-when-visible' data-animation-type='bounceInUp'>
        <div class='member-avatar'>
          <%= image_tag 'team_1.jpg' %>
        </div>
        <h3>Alberto Zuin</h3>
        <h4>Co-Founder, CEO & API Developer</h4>
        <p>16 years of experience in the development of technological infrastructure.</p>
        <div class='member-social'>
          <a href='https://twitter.com/albertozuin'>
            <i class='icon-twitter'></i>
          </a>
          <a href='https://www.linkedin.com/in/alzuin'>
            <i class='icon-linkedin'></i>
          </a>
          <a href='mailto:a.zuin@moyd.co'>
            <i class='icon-envelope'></i>
          </a>
        </div>
      </div>
    </div>
    <div class='col-md-4'>
      <div class='team-member animated-when-visible delay-animation-one' data-animation-type='bounceInUp'>
        <div class='member-avatar'>
          <%= image_tag 'team_2.jpg' %>
        </div>
        <h3>Enrico Talin</h3>
        <h4>Co-Founder & Marketing Manager</h4>
        <p>19 years of experience as an IT entrepreneur. Bachelor's degree in Marketing.</p>
        <div class='member-social'>
          <a href='https://twitter.com/enricotalin'>
            <i class='icon-twitter'></i>
          </a>
          <a href='https://www.linkedin.com/in/enricotalin'>
            <i class='icon-linkedin'></i>
          </a>
          <a href='mailto:e.talin@moyd.co'>
            <i class='icon-envelope'></i>
          </a>
        </div>
      </div>
    </div>
    <div class='col-md-4'>
      <div class='team-member animated-when-visible delay-animation-two' data-animation-type='bounceInUp'>
        <div class='member-avatar'>
          <%= image_tag 'team_3.jpg' %>
        </div>
        <h3>Manuel Zulian</h3>
        <h4>Frontend & Core lead developer</h4>
        <p>5 years of experience in the Java-Scala-JS development.</p>
        <div class='member-social'>
          <a href='mailto:m.zulian@moyd.co'>
            <i class='icon-envelope'></i>
          </a>
        </div>
      </div>
    </div>
  </div>