<% if current_user.admin %>
  <div class="container">
    <h2>Edit subscriptions <%= @subscription.id %> for <%=@user.email%></h2>
    <%= render partial: 'form', locals: {subscription: @subscription} %>
  </div>
<% end %>