<footer id="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <ul class="footer-menu">
          <!--<li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms of Service</a></li>-->
          <li>
            <%= link_to 'Contact Us', contact_us_statics_path %>
          </li>
        </ul>
        <div class="copyright">
          2014 &copy; MOYD.CO LTD. All rights reserved.
        </div>
      </div>
      <div class="col-md-6">
        <ul class="footer-social">
          <li><a href="https://www.facebook.com/moyd.co"><i class="icon-facebook"></i></a></li>
          <li><a href="https://twitter.com/moydco"><i class="icon-twitter"></i></a></li>
          <li><a href="https://www.linkedin.com/company/moyd-co-ltd"><i class="icon-linkedin"></i></a></li>
          <li><a href="https://plus.google.com/+MoydCo"><i class="icon-google-plus"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<%= debug(params) if Rails.env.development? %>